{% extends "base.html" %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
 {% endblock %} 

{% block body %}

<main>
  <div class="header">
    <h1 >Califica la pagina</h1>
    <p>Responde las siguientes preguntas</p>

  </div>

    <form action="{% url 'calificar'%}" method="POST">

      {% csrf_token %}
      <div class="container">

        <section id="p0">
          <h3> ¿Cual es tu nombre?</h3>
          <label  title="nombre">Nombre:
            <input type="text"  value="{% if request.user.is_authenticated %}{{request.user.username}}{% endif %}" name="name" required>
          </label>
        </section>
        
        <section id="p0">
          <h3>1. ¿Como te parece el diseño de la pagina?</h3>
          <label  title="Muy bueno">Muy bueno
            <input type="radio" name="p0"  value="5" required>
          </label>
          <label  title="Bueno">Bueno
            <input type="radio" name="p0"  value="4" required>
          </label>
          <label  title="Regular">Regular
          <input type="radio" name="p0"  value="3" required>
          </label>
          <label  title="Malo">Malo
            <input type="radio" name="p0"  value="2" required>
          </label>
          <label  title="Muy Malo">Muy malo
            <input type="radio" name="p0"  value="1" required>
          </label> 
        </section>

        <section id="p1">
          <h3>2. ¿Como te parecen las funcionalidades de la pagina?</h3>
          <label  title="Muy buenas">Muy buenas
            <input type="radio" name="p1"  value="5" required>
          </label>
          <label  title="Buenas">Buenas
            <input type="radio" name="p1"  value="4" required>
          </label>
          <label  title="Regulares">Regulares
          <input type="radio" name="p1"  value="3" required>
          </label>
          <label  title="Malas">Malas
            <input type="radio" name="p1"  value="2" required>
          </label>
          <label  title="Muy Malas">Muy malas
            <input type="radio" name="p1"  value="1" required>
          </label>
        </section>

        <section id="p2">
          <h3>3. ¿Como a sido tu experiencia con la Aplicacion?</h3>
          <label  title="Muy buena">Muy buena
            <input type="radio" name="p2"  value="5" required>
          </label>
          <label  title="Buena">Buena
            <input type="radio" name="p2"  value="4" required>
          </label>
          <label  title="Regular">Regular
          <input type="radio" name="p2"  value="3" required>
          </label>
          <label  title="Mala">Mala
            <input type="radio" name="p2"  value="2" required>
          </label>
          <label  title="Muy Mala">Muy mala
            <input type="radio" name="p2"  value="1" required>
          </label>
        </section>



        <section id="reviews">
          <h3> ¿Alguna Recomendacion o mensaje que quieras darnos?</h3>
          <label  title="nombre">Mensaje:
            <br><br><textarea name="review" id="review" cols="30" rows="10"></textarea>
          </label>
        </section>

        <input type="submit" value="Enviar Reseña" class="button">
        <br>
      </div>
      
      <br>
      {% if request.method == 'POST' %}
    <div class="mensaje">

       {{mensaje}}
    </div>
    {% endif %}
    </div>
        
    </form>
    



</main>
{% endblock %}
