{% extends "base.html" %}
{% load static %}
{% block titulo %} Avahs {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
{% endblock %} 
{% block body %} 
<main>

    <div class="container">
        <div class="content">
            <div class="content-header">
                {% if request.session.productoAgregado %}
                    <p>{{ request.session.ultimoProductoAgregado }} se ha agregado a tu carrito.</p>
                    <a href="{% url 'home'  %} " >Seguir comprando</a>
                {% elif request.session.carritoLimpiado %}
                    <p>El carrito se ha limpiado exitosamente.</p>
                    <a href="{% url 'home'  %} " >Seguir comprando</a>
                {% endif %} 
            </div>
            <div class="content-middle">
                {% if request.session.carrito.items %}
                    <table class="tabla">
                        <tr>
                            
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    <form action="{% url 'actualizarCarrito' %}" method="get">
                    {% for key,value in request.session.carrito.items %}
                        <tr>
                            <td>{{ value.nombre }}</td>
                            <td>${{ value.precio }}</td>
                            <td><input name="{{ key }}" type="number" step="1" min="1" max="10" value="{{ value.cantidad }}" size="4"  inputmode="numeric" autocomplete="off"></td>    
                            <td>${{ value.acumulado }}</td>
                            <td><a href="{% url 'eliminarCarrito' key%}"><span class="material-symbols-outlined icons eliminarProducto"> close </span></a></td>
                        </tr>             
                    {% endfor%}
                    
                    </table>
                    <div class="botones-carrito-container">
                        <a  href="{% url 'limpiar'  %} " >Limpiar carrito</a>
                        <button  type="submit">Actualizar carrito</button> 
                    </div>
                </form>
                {% else %} 
                {% endif %} 

            </div>
            <div class="content-bottom">
                <div class="content">
                    <div class="content-bottom-title">
                        <span>Total del carrito</span>
                    </div>
                    <div class="tabla-container">
                        <table class="tabla">
                            <tr>
                                <td>SubTotal</td>
                                <td>${{ request.session.subTotal }}</td>
                              </tr>  
                              <tr>
                                  <td>Envío</td>
                                  <td>$0</td>
                                </tr>   
                                <tr>
                                    <td>Total</td>
                                    <td>${{ request.session.subTotal }}</td>
                                  </tr>   
                        </table>
                    </div>
                    <a href="{% url 'compra'  %}">Finalizar compra</a>
                </div>
            </div>        
        </div>
    </div>
</main>
{% endblock %}