{% extends "base.html" %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/contacto.css' %}" />
 {% endblock %} 

{% block body %}

<main>
      <div class="container">
        <form action="{% url 'contacto'%}" method="POST">
          {% csrf_token %}
          <h1>Contactanos</h1>
          <input type="text" name="nombre" value="{% if request.user.is_authenticated %}{{request.user.username}}{% endif %}" placeholder="Nombre">
          <input type="text" name="correo" placeholder="Correo">
          <select name="consulta" id="consulta">
            <option value="Consulta" name="consulta">Consulta</option>
            <option value="Reclamo" name="consulta">Reclamo</option>
            <option value="Sugerencia" name="consulta">Sugerencia</option>
          </select>
          <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
          <input type="submit" value="Enviar Mensaje" class="button">
    </form>
    
  </div>



</main>
{% endblock %}