{% extends "base.html" %}
{% load static %}
{% block titulo %} Avahs {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 
{% block body %} 

<main>
  <div class="container">
    <div class="clothescontainer">
      {% for p in lista_productos%}
      <a href="/app/producto/{{ p.nombre }}">
        <div  class="card">
          
          {%if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="">
          {%endif%}
          <div class="info">
            <p class="name">{{p.nombre}}</p>
            <p class="precio">${{p.precio}}</p>
          </div>
        </div>
      </a>
    {% endfor%}
    </div>
  </div>

</main>
{% endblock %}