{% extends "base.html" %}
{% load static %}
{% block titulo %} Avahs {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} 
{% block body %} 
    <div class="container">
        <div class="content">
            <div class="content-header">
                <p>Disfruta de Avahs en toda su esencia, crea tus listas de deseos y conoce nuestras novedades antes que nadie.</p>
               
            </div>
            <div class="content-middle">
                <h1>
                    Iniciar sesi&oacute;n
                </h1>
                {% if error %}
                <p>
                    Nombre de usuario o contrase&ntilde;a incorrecto, intente de nuevo
                </p>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-content">
                        <div class="contenedor-input">
                            <label>
                                Usuario *
                            </label>
                            <input type="text" name="username" required>
                        </div>
                        <div class="contenedor-input">
                            <label>
                                Contrase&ntilde;a *
                            </label>
                            <input type="password" name="password" required>
                        </div>
                        <a href="{% url "registro" %}" style="font-size: 16px">¿No tienes cuenta? Registrate aqu&iacute;</a>
                        <input type="submit" class="button " value="Iniciar">
    
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}