{% extends "base.html" %}
{% load static %}
{% block titulo %} Avahs {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 
{% block body %} 

<div class="container">
    <section class="nuevo">
        <!-- <h2>Novedades</h2>
        <div class="linea"></div>
        <div class="content">

            <div class="card">
                <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
                <div class="info">
                  <p class="name">sobremesa estudio blanco</p>
                  <p class="precio">$52.000</p>
                  <p class="detalle">Agotado</p>
                </div>
              </div> -->

        </div>
    </section>
    <section class="descuentos">
        <!-- <h2>Descuentos</h2>
        <div class="linea"></div>
        <div class="content">

            <div class="card">
                <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
                <div class="info">
                  <p class="name">sobremesa estudio blanco</p>
                  <p class="precio">$52.000</p>
                  <p class="detalle">Agotado</p>
                </div>
              </div> -->


        </div>
    </section>
    <section class="tendencias">
        <!-- <h2>Tendencias</h2>
        <div class="linea"></div>
        <div class="content">


            <div class="card">
                <img src="{% static "images/products/lampara1.jpg.webp" %}" alt="">
                <div class="info">
                  <p class="name">sobremesa estudio blanco</p>
                  <p class="precio">$52.000</p>
                  <p class="detalle">Agotado</p>
                </div>
              </div> -->
              

        </div>
    </section>
</div>
{% endblock %}