

.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 8) 0px 0px 50px;
    border-radius: 10px;
    font-size: large;
}

.container form{
    display: flex;
    flex-flow: column;
    background-color: white;
    font-size: large;
    width: 40%;
    height: 80%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 8) 0px 0px 50px;
    border-radius: 10px;
}

.container input, textarea,select{
    border: none;
    resize: none;
    outline: none;
    font-size: large;
    width: 40%;
    height: 80;
    padding: 20px;
    background: white;
    justify-content: center;
    align-items: center;
     border-radius: 10px;
     border: 1px solid gray;
  border-radius: 7px;
}
.container input:focus, textarea:focus{
    border-bottom: solid 1px;
}

.button{
    border: none;
    outline: none;
    padding: 15px;
    width: 200px;
    background:  #A2708A;
    border-radius: 2px;


}
.button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 9)0px 0px 10px;
}