{% extends "base-secciones.html" %} 


{% load static %} 

{% block titulo %} Novedades {% endblock%} 

{% block categoria %}Novedades{% endblock %}

{% block categoria-texto %}Mantente al tanto de nuestros nuevos productos{% endblock %}


{% block productos %}
  {% for p in lista_productos%}
    <a href="/app/producto/{{ p.nombre }}">
      <div onclick="mostrarProducto" class="card">
        
        {%if p.imagen %}
          <img src="{{ p.imagen.url }}" alt="">
        {%endif%}
        <div class="info">
          <p class="name">{{p.nombre}}</p>
          <p class="precio">${{p.precio}}</p>
        </div>
      </div>
    </a>

  {% endfor%}
{% endblock %}