{% extends "base-secciones.html" %} 


{% load static %} 

{% block titulo %} Tendencias {% endblock%} 

{% block categoria %} Tendencias {% endblock %}

{% block categoria-texto %} Dale una mirada a los productos que están de moda{% endblock %}


{% block productos %}
  {% for p in lista_productos%}
    <a href="/app/producto/{{ p.nombre }}">
      <div onclick="mostrarProducto" class="card">
        
        {%if p.imagen %}
          <img src="{{ p.imagen.url }}" alt="">
        {%endif%}
        <div class="info">
          <p class="name">{{p.nombre}}</p>
          <p class="precio">${{p.precio}}</p>
        </div>
      </div>
    </a>
  {% endfor%}
{% endblock %}